@model Tangy.Models.Coupons
@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>Delete Coupon</h2>
<br />
<form asp-action="Delete" method="post" enctype="multipart/form-data">
    <div class="row container form-border">
        <br />
        <div class=" col-12 border">
            @{
                var base64 = Convert.ToBase64String(Model.Picture);
                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
            }
            <img src="@imgsrc" height="53px" width="100%" />
        </div>
        <div class="col-6">
            <input hidden asp-for="Id" />
            <fieldset disabled>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Picture" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input type="file" id="projectImage" name="files" multiple class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CouponType" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="CouponType" asp-items="Html.GetEnumSelectList<Coupons.ECouponType>()" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Discount" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Discount" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MinimumAmount" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="MinimumAmount" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="isActive" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input type="checkbox" asp-for="isActive" class="form-control" />
                    </div>
                </div>
            </fieldset>

        </div>
        <div class="col-12" style="padding-top:10px;">
            <input type="submit" value="Delete" asp-route-id="@Model.Id" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>