@using Tangy.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}


<a class="form-control btn btn-outline-primary" asp-action="Index">Profile</a>
<br /><br />
<a class="form-control btn btn-outline-primary" asp-action="ChangePassword">Password</a>
<br /><br />
@if (hasExternalLogins)
{
    <a class="form-control btn btn-outline-primary" asp-action="ExternalLogins">External logins</a>
    <br /><br />
}
<a class="form-control btn btn-outline-primary" asp-action="TwoFactorAuthentication">Two-factor authentication</a>


