@model Tangy.Models.SubCategory
@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>SubCategory Delete</h2>
<br />

<form method="post">
    <div class="form-border">
        <input type="hidden" asp-for="Id" />
        <fieldset disabled>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Name" class="custom-label"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Category.Name" class="custom-label"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Category.Name" class="form-control" />
                </div>
            </div>
        </fieldset>
        <br />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>

</form>